{% extends 'base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}

  {% if not user.is_authenticated %}
{#     Сделать страницу перенаправления #}
  {% endif %}

<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Hello,{{ user.username }}</h1>
</div>
{% block filter %}

<form method="get" class="flex justify-center">
    <div class="p-4 bg-white shadow rounded-xl text-center w-full lg:w-1/4">
        Search user by name: <br>
        {{ filter.form.user_name}} <br>
      Search user by email: <br>
        {{ filter.form.email }} <br>

      Search by date range: <br>
      {{ filter.form.date_added }} <br>
      Sort dates: {{ filter.form.oldest_first }}<br>
        <button type="submit" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Filter</button>
    </div>
</form>

  {% endblock %}

<div class="w-full flex flex-wrap items-center">
    {% for room in room_list %}
        <div class="w-full lg:w-1/4 px-3 py-3">
            <div class="p-4 bg-white shadow rounded-xl text-center">
                <h2 class="mb-1 text-2xl font-semibold">{{ room.title }}</h2><br>
              <h2 class="mb-1 text-xl font-semibold">Author : {{ room.messages.first.user }}</h2><br>
              <h2 class="mb-1 text-xl font-semibold">{{ room.main_message }}</h2><br>
                <h2 class="mb-1 text-xs font-semibold">{{ room.date_added }}</h2>

                <a href="{% url 'room:room' pk=room.pk %}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Join</a>
            </div>
        </div>
    {% endfor %}
</div>

{% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </li>
      {% endif %}

    </ul>
  </nav>

{% endif %}
{% endblock %}