{% extends 'base.html' %}
{% load get_file_format %}
{% block title %}{{ room.title }} | {% endblock %}
{% load static %}
{% block content %}
  {% block bootstrap %}
  {% endblock %}
  <div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ message.user.username }}</h1>
  </div>
  <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
      {% for message in messages %}
        <div style="display: flex; align-items: center;">
          <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px" src="{{ message.user.image.url }}"
               id="user-avatar"
               alt="image"/>

          <b>{{ message.user.username }}</b>: {{ message.text }}
          {% if message.image %}
            {% if message.image.url|split_last == 'txt' %}
              <a href="{{ message.image.url }}" download>
                <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px"
                     src="/media/images/Circle-icons-folder.svg.png" alt="image">
              </a>
            {% else %}
              <a class="fancybox" href="{{ message.image.url }}">
                <img style="border-radius: 10%; margin-left: 10px" src="{{ message.image.url }}"
                     alt="image"/>
              </a>
            {% endif %}
          {% endif %}
          <button
          class="ml-4 px-2 py-1 rounded-md text-sm font-medium text-gray-700 bg-gray-100 focus:outline-none focus:bg-gray-200"
          onclick="(function() {
              document.getElementById('chat-reply-to-input').value = '{{ message.id }}';
              document.getElementById('chat-message-input').value = '{{ message.user.username }}, ';
              document.getElementById('chat-message-input').focus();
          })()">Reply
      </button>
        </div>
        {% if message.answers %}
          {% for answer in message.answers.all %}
            {% if forloop.first %}
              <div class="nested-comment" style="display: flex;align-items: center;margin-left: 10px">
                <img style="width: 50px;height: 50px;border-radius: 50%;margin-right: 10px"
                     src="{{ answer.user.image.url }}"
                     id="user-avatar"
                     alt="image"/>
                <b>{{ answer.user.username }}</b>: {{ answer.text }}
                {% if answer.image %}
                  {% if answer.image.url|split_last == 'txt' %}
                    <a href="{{ answer.image.url }}" download>
                      <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px"
                           src="/media/images/Circle-icons-folder.svg.png" alt="image">
                    </a>
                  {% else %}
                    <a class="fancybox" href="{{ answer.image.url }}">
                      <img style="border-radius: 10%; margin-left: 10px" src="{{ answer.image.url }}"
                           alt="image"/>
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            {% else %}
              <div class="nested-comment" style="display: flex;align-items: center;margin-left: 10px">
                <img style="width: 50px;height: 50px;border-radius: 50%;margin-right: 10px"
                     src="{{ answer.user.image.url }}"
                     id="user-avatar"
                     alt="image"/>
                <b>{{ answer.user.username }}</b>: {{ answer.text }}
                {% if answer.image %}
                  {% if answer.image.url|split_last == 'txt' %}
                    <a href="{{ answer.image.url }}" download>
                      <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px"
                           src="/media/images/Circle-icons-folder.svg.png" alt="image">
                    </a>
                  {% else %}
                    <a class="fancybox" href="{{ answer.image.url }}">
                      <img style="border-radius: 10%; margin-left: 10px" src="{{ answer.image.url }}"
                           alt="image"/>
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="bg-white rounded-xl" style="margin-bottom: 20px">
      <form method="post" action="" class="inline-flex" id="chat-message-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="chat-message-input"></label><input type="text" name="text" style="width: 500px"
                                                       placeholder="Your message..." id="chat-message-input">
        <input type="hidden" name="reply_to" id="chat-reply-to-input">
        <input type="file" name="file" style="margin: 10px" id="chat-file-input">
        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-200" id="chat-message-submit">Submit
        </button>
      </form>
      <div>
        <button type="button"
                class="px-3 py-2 m-2 rounded-md text-sm font-medium text-gray-700 bg-gray-100 focus:outline-none focus:bg-gray-200"
                onclick="insertTag('[i]','[/i]')">[i]
        </button>
        <button type="button"
                class="px-3 py-2 m-2 rounded-md text-sm font-medium text-gray-700 bg-gray-100 focus:outline-none focus:bg-gray-200"
                onclick="insertTag('[strong]','[/strong]')">[strong]
        </button>
        <button type="button"
                class="px-3 py-2 m-2 rounded-md text-sm font-medium text-gray-700 bg-gray-100 focus:outline-none focus:bg-gray-200"
                onclick="insertTag('[code]','[/code]')">[code]
        </button>
        <button type="button"
                class="px-3 py-2 m-2 rounded-md text-sm font-medium text-gray-700 bg-gray-100 focus:outline-none focus:bg-gray-200"
                onclick="insertTag('[a href=\'\']','[/a]')">[a]
        </button>
      </div>
    </div>
  </div>


{% endblock %}

{% block scripts %}

  {{ room.pk|json_script:"json-roomid" }}
  {{ request.user.username|json_script:"json-username" }}

  <script src="{% static 'js/tags_insert.js' %}" defer></script>
  <script src="{% static 'js/reply_message.js' %}" defer></script>
  <script src="{% static 'js/websocket_listener.js' %}" defer></script>
  <script src="{% static 'js/nested_comments.js' %}" defer></script>

{% endblock %}